.container-login {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content:space-between;

    
}

.form-login {
    padding: 25px 25px;
    background: rgba(135, 133, 133, 0.5);
    
}

