.container{
font-family:sans-serif;
}
.container-login .logo-img {
    width: 100px;
    margin-left: -30px;
}
.container-login .sub-title {
    margin-top: 20px;
}
.container-login .form-data {
    margin-top: 20px;
}
.container-login .buttons .btn {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}